@import url('https://fonts.googleapis.com/css2?family=Inter&family=Prata&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: black;
  color: white;
}

header {
  display: flex;  
  justify-content: space-between;
  font-family: 'Prata', serif;
  align-items: center;
  padding: 3rem;
}

.nav ul li {
  display: inline;  
  font-family: 'Inter', sans-serif;
}

.btn {
  color: black;
  background-color: yellow;
  border: none;
  padding: .5rem 1.4rem;
  font-family: 'Prata', serif;
}

.intro {
  width: 80%;
  margin-top: 5rem;
  padding: 3rem;
  
}
.intro h1 {
  font-family: 'Prata', serif;
  font-size: 24px;
  line-height: 3rem;
}

.intro p {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.companylogos {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.screendesc {
  margin-top: 2.5rem;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 3em;
}

.screendesc .spense .h2 {
  font-family: 'Prata', serif;
  font-size: 24px;
  line-height: 3rem;
}

.another-intro {
  display: block;
  margin-top: 3rem;
  background-color: rgb(57, 55, 63);
  padding: 10px;
  display: flex;
  padding: 3rem;
}

.another-intro h2 {
  font-family: 'Prata', serif;
  line-height: 2rem;
}

.another-intro p {
  font-family: 'Inter', sans-serif;
  line-height: 2rem;
}

.contact {
  padding: 3rem;
}

.contact h2 {
  font-family: 'Prata', serif;
  line-height: 2rem;
}

.contact p {
  font-family: 'Inter', sans-serif;
  line-height: 2rem;
}

footer {
  padding: 3rem;
  background-color: rgb(57, 55, 63);
  display: flex;
  justify-content: space-between;
}