@import url("https://fonts.googleapis.com/css2?family=Inter&family=Prata&display=swap");

:root {
  --gray-text: rgb(119, 117, 122);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  font-family: "Prata", serif;
  align-items: center;
  padding: 3rem;
}

.nav ul li {
  display: inline;
  font-family: "Inter", sans-serif;
  margin-right: 2rem;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.btn {
  color: black;
  background-color: yellow;
  border: none;
  padding: 0.5rem 1.4rem;
  font-family: "Prata", serif;
  cursor: pointer;
}

.intro {
  width: 100%;
  margin-top: 5rem;
  padding: 3rem;
  max-width: 680px;
}

.intro h1 {
  font-family: "Prata", serif;
  font-size: 48px;
  line-height: 4rem;
}

.intro p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: var(--gray-text);
}

.companylogos {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.screendesc {
  margin-top: 2.5rem;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 3em;
}

.screendesc .spense h2 {
  font-family: "Prata", serif;
  font-size: 36px;
  line-height: 3rem;
  padding-top: 10px;
}

.screendesc .spense p {
  padding-top: 10px;
  color: var(--gray-text);
}

.another-intro {
  display: block;
  margin-top: 3rem;
  background-color: rgb(57, 55, 63);
  gap: 3rem;
  display: flex;
  padding: 3rem;
}

.another-intro h2 {
  font-family: "Prata", serif;
  line-height: 2rem;
}

.another-intro p {
  font-family: "Inter", sans-serif;
  line-height: 2rem;
  color: var(--gray-text);
}

.another-intro .left {
  width: 50%;
}

.another-intro .right {
  width: 50%;
}

.contact {
  padding: 3rem;
}

.contact h2 {
  font-family: "Prata", serif;
  line-height: 2rem;
}

.contact p {
  font-family: "Inter", sans-serif;
  line-height: 2rem;
  margin-bottom: 1rem;
}

footer {
  padding: 2rem;
  background-color: rgb(57, 55, 63);
  display: flex;
  justify-content: space-between;
}

footer .socials .social-icons {
  display: flex;
  list-style: none;
  gap: 1rem;
  cursor: pointer;
}

@media (max-width: 776px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav {
    position: absolute;
    right: 100px;
    top: 100px;
  }

  .getbutton {
    display: none;
  }

  .hamburger {
    display: block;
    padding-top: 1rem;
  }

  .hamburger a {
    color: white;
  }

  .companylogos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }

  .companylogos .eachlogo {
    padding: 0.8rem;
    text-align: center;
  }

  .screendesc {
    display: flex;
    flex-direction: column;
  }

  .screendesc .spense img {
    width: 100%;
  }

  .another-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
